/* global.css */

.pageContainer {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 8rem 1rem 6rem 1rem; /* top | right | bottom | left */
    font-family: var(--font-family);
    color: var(--light-text-color);
    display: flex;
    gap: 3rem;
}


