@import "../src/styles/variables";
@import "../src/styles/global";

#root {
  padding: 2rem 0 2rem 0;
  
}

body, html {
    background-color: var(--primary-background-color); 
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
body, html {
        padding: 2rem 0 0 0;
        margin: 0;
    }
}

